@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

* {
  list-style-type: none;
  text-decoration: none;
}
#root {
  font-family: "Lato", sans-serif;
  background-color: var(--color-gray-950);
  color: var(--color-gray-300);
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
}
#top {
  background-image: url("assets/img/header-bg.jpg");
  background-size: cover;
}
header.header-bg-2 {
  background-image: url("assets/img/header-bg-2.jpg");
  background-size: cover;
  background-position-y: 50%;
}
h1 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: 700;
}
p {
  font-size: 0.9rem;
}
button {
  cursor: pointer;
}

/* ========================================
              RESPONSIVIDADE 
======================================== */
@media screen and (width<=1080px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (width<=815px) {
  header > div {
    justify-content: space-between;
  }
  main {
    grid-template-columns: 1fr 1fr;
  }
  header .box-logo img {
    max-height: 2.5rem;
  }
  .top .box-search {
    width: 90%;
  }
  #box-details {
    flex-direction: column-reverse;
    align-items: center;
  }
  #box-details > div {
    max-width: 100%;
  }
}

@media screen and (width<=470px) {
  main {
    grid-template-columns: 1fr;
  }
}
