@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

* {
  list-style-type: none;
  text-decoration: none;
}
#root {
  font-family: "Lato", sans-serif;
  background-color: var(--color-gray-950);
  color: var(--color-gray-300);
  min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
}
h1 {
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
h1.logo {
  font-family: "Edu AU VIC WA NT Arrows", cursive;
  color: yellow;
}
h3 {
  font-size: 1.4rem;
  font-weight: 700;
}
p {
  font-size: 0.9rem;
}
button {
  cursor: pointer;
}

/* ========================================
              RESPONSIVIDADE 
======================================== */
@media screen and (width<=1080px) {
  /* main {
    grid-template-columns: 1fr 1fr;
  } */
  div#content {
    flex-direction: column;
    flex-wrap: wrap;
  }
  div#content > * {
    width: 100%;
  }
}
@media screen and (width<=800px) {
  header {
    justify-content: space-between;
  }
  .menu-desk {
    display: none;
  }
  .menu-mob button {
    display: block;
  }
  #btn-open-menu-mob {
    display: block;
  }
  main {
    grid-template-columns: 1fr;
  }
}
